*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sol{
    position: absolute;
    left: 35%;
    width: 400px;
}
.timer{
    font-family: 'Press Start 2P', cursive;
    margin: 40px 40px;

}
.msgVenceu{
    font-size: 91px;
    position: absolute;
    top: 20%;
    left: 23%;
    color: white;
    font-family: 'Press Start 2P', cursive;
    z-index: 2;
}
.lua{
    position: absolute;
    width: 20%;
    left: 38%;
    top: 0;
    z-index: 1;
}
.marioVencendo{
    width: 300px;
    z-index: 2;
}
.gameOver{
    position: absolute;
    top: -224px;
    width: 50%;
    left: 20%;
    z-index: 2;
}
.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
.clouds{
    position: absolute;
    width: 600px;
    z-index: 1;
    animation: clouds-animation 10s infinite linear;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    z-index: 1;
    animation: pipe-animation 1.5s infinite linear; 
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.jump{
    animation: jump 500ms  ease-out;
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation{
    from{
        right: 0;
    }

    to{
        right: 100%;
    }
}